.line {
    height: 4px;
    width: 80px;
}

.__top {
    top: 40px !important;
}

label {
    color: var(--main-color);
    margin-bottom: 7px;
    transition: .6s top;
}

.form-control:focus {
    box-shadow: none;
  }